{%extends 'base.html'%} {%block body%}

<div class="flex flex-col w-full p-10">
  <div class="flex w-full items-center justify-end">
    {%if data|length < 1%}
    <div className="alert alert-info shadow-lg h-10 w-20 ">
      <div>
        <span>Aucun élément n'a été ajouté.</span>
      </div>
    </div>
    {%endif%}
    <label for="my-modal-3" class="btn btn-sm btn-success m-4"
      >Ajouter une catégorie</label
    >
  </div>

  <div class="overflow-x-auto w-full">
    <table class="table w-full mx-auto">
      <!-- head -->
      <thead>
        <tr>
          <th>category</th>
          <th>icon</th>
          <th>Options</th>
        </tr>
      </thead>
      <tbody>
        {%for el in data%}

        <tr>
          <td>
            <div class="flex items-center space-x-3">
              <div class="w-12 h-12">
                <img
                  src="{{url_for('static', filename='images/'+el.img_url)}}"
                  alt="{{el.name}}"
                />
              </div>
              <div class="font-bold">{{el.name}}</div>
            </div>
          </td>
          <td>
            <div class="w-12 h-12">
              <img
                class="w-[50px] h-[50px]"
                src="{{url_for('static', filename='icons/'+el.icon_url)}}"
                alt="{{el.name}}"
              />
            </div>
          </td>
          <th>
            <a
              href="{{url_for('Update', id=el.id)}}"
              class="btn btn-xs btn-outline btn-success"
            >
              <i class="fa-solid fa-pen-to-square mx-2"></i>Éditer
            </a>
            <a
              id="delCategory"
              delete-data="{{el.id}}"
              href="#my-modal-2"
              delete_url="/delete/{{el.id}}"
              class="btn btn-xs btn-outline btn-error"
            >
              <i class="fa-solid fa-trash mx-2"></i>Retirer
            </a>
          </th>
        </tr>
        {%endfor%}
      </tbody>
    </table>
  </div>

  <input type="checkbox" id="my-modal-3" class="modal-toggle" />
  <div class="modal">
    <div class="modal-box relative">
      <label
        for="my-modal-3"
        class="btn btn-sm btn-circle absolute right-2 top-2"
        >✕</label
      >
      <h3 class="text-lg font-bold">Ajouter une catégorie</h3>
      <div class="divider"></div>

      <form
        id="category"
        action="/categories"
        method="POST"
        enctype="multipart/form-data"
      >
        <fieldset class="flex flex-col gap-4">
          <div class="form-control">
            <label class="input-group input-group-vertical">
              <span><i class="fa-solid fa-sitemap mx-2"></i>catégorie nom</span>
              <input
                type="text"
                placeholder="ex : burger"
                class="input input-bordered"
                id="name"
                name="name"
              />
            </label>
          </div>
          <div class="form-control">
            <label class="input-group input-group-vertical">
              <span><i class="fa-solid fa-image mx-2"></i> Image</span>
              <input
                type="file"
                name="image"
                id="image"
                class="input input-bordered p-2"
              />
            </label>
          </div>
          <div class="form-control">
            <label class="input-group input-group-vertical">
              <span><i class="fa-solid fa-icons mx-2"></i>icon</span>
              <input
                type="file"
                name="icon"
                id="icon"
                class="input input-bordered p-2"
              />
            </label>
          </div>

          <button class="btn btn-success self-end">Ajouter</button>
        </fieldset>
      </form>
    </div>
  </div>
</div>

{%endblock%}
