{%extends "base.html" %} {%block body%}
<div class="mx-auto">
  <div
    class="flex flex-col md:flex-row gap-4 mt-10 items-center md:items-stretch"
  >
    <div class="card w-96 bg-base-100 shadow-xl image-full">
      <figure>
        <img
          src="{{url_for('static', filename='img/menus.jpg')}}"
          alt="menus"
        />
      </figure>
      <div class="card-body">
        <h2 class="stat-value">
          <a href="{{url_for('showCatgeories')}}">Menus</a>
        </h2>
        <p>{{categories_data|length}} Catégories</p>
        <div class="card-actions justify-end">
          <a class="btn btn-primary" href="{{url_for('showCatgeories')}}"
            >Voire</a
          >
        </div>
      </div>
    </div>
    <div class="card w-96 bg-base-100 shadow-xl image-full">
      <figure>
        <img
          src="{{url_for('static', filename='img/orders.webp')}}"
          alt="Shoes"
        />
      </figure>
      <div class="card-body">
        <h2 class="stat-value"><a href="{{url_for('orders')}}">Ordres</a></h2>
        <p>{{orders_data|length}} Order</p>
        <div class="card-actions justify-end">
          <a class="btn btn-primary" href="{{url_for('orders')}}">Voire</a>
        </div>
      </div>
    </div>
    <div class="card w-96 bg-base-100 shadow-xl image-full">
      <figure>
        <img
          src="{{url_for('static', filename='img/client.jpg')}}"
          alt="Shoes"
        />
      </figure>
      <div class="card-body">
        <h2 class="stat-value">
          <a href="{{url_for('clients')}}">Clientes</a>
        </h2>
        <p>{{clients_data|length}} client</p>
        <div class="card-actions justify-end">
          <a class="btn btn-primary" href="{{url_for('clients')}}">Voire</a>
        </div>
      </div>
    </div>
  </div>
  
</div>

{%endblock%}
