{%extends 'base.html'%} {%block body%}

<div class="overflow-x-auto w-full pt-10 px-4">
  <table class="table w-full" id="orders-table">
    <!-- head -->
    <thead>
      <tr>
        <th>Order ID</th>
        <th>Type</th>
        <th>Date</th>
        <th>Client</th>
        <th>Location</th>
        <th>Montante</th>
        <th>statut de la commande</th>
        <th>informations</th>
      </tr>
    </thead>
    <tbody>
      <!-- row 1 -->
      {%for el in client_orders%}
      <tr>
        <td>
          <div class="flex items-center space-x-3">
            <!-- <div class="avatar">
              <div class="mask mask-squircle w-12 h-12">
                <img
                  src="https://placeimg.com/192/192/people"
                  alt="Avatar Tailwind CSS Component"
                />
              </div>
            </div> -->
            <div>
              <div class="font-bold">#{{el.order_id}}</div>
            </div>
          </div>
        </td>
        <td>{{el.DamandeType.type}}</td>
        <td>
          {{(el.date).date()}}
          <br />
          <span class="badge badge-ghost badge-sm"
            >{{(el.date).strftime("%H:%M:%S")}}</span
          >
        </td>
        <td>{{el.client.Nom}} {{el.client.Prenom}}</td>
        <td>{{el.client.adress}}</td>
        <td>{{el.montants}} €</td>
        <th>
          {%if el.status == 1 %}
          <div class="btn btn-xs btn-outline btn-warning">en attendant</div>
          {%endif%} {%if el.status ==2 %}
          <div class="btn btn-xs btn-outline btn-info">Approuvé</div>
          {%endif%} {%if el.status ==3%}
          <div class="btn btn-xs btn-outline btn-success">livré</div>
          {%endif%} {%if el.status ==4 %}
          <div class="btn btn-xs btn-outline btn-btn-ghost">annulé</div>
          {%endif%}
        </th>
        <td>
          <a
            href="{{url_for('orders', order=el.order_id)}}"
            data-attr="{{el.order_id}}"
            class="text-sm text-primary"
            >Voir l'ordre<i
              class="fa-solid fa-arrow-up-right-from-square mx-2"
            ></i
          ></a>
        </td>
      </tr>
      {%endfor%}
    </tbody>
    <!-- foot -->
    {%if client_orders|length > 10 %}
    <tfoot>
      <tr>
        <th>Order ID</th>
        <th>Type</th>
        <th>Date</th>
        <th>Client</th>
        <th>Location</th>
        <th>Montante</th>
        <th>statut de la commande</th>
        <th>informations</th>
      </tr>
    </tfoot>
    {%endif%}
  </table>
</div>

{%endblock%}
